body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
}

.container {
  font-size: 3rem;
}
